extends layout

block content
  .blocktext
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    h1= title
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
    span.glyphicon.glyphicon-music
